main {
  display: block;
  text-align: left;
  max-width: 450px;
  background-color: rgb(250, 246, 240);
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgb(164, 178, 239);
  border-radius: 6px;
}

h1 {
  text-align: left;
  margin-left: 10px;
}
.city {
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 50px;
}
footer {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: smaller;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: rgb(164, 178, 239);
}
select {
  margin-left: 10px;
}
.details {
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 25px;
}
.berlin {
  line-height: 5px;
}
.mumbai {
  line-height: 5px;
  margin-top: 50px;
}
