main {
  display: block;
  text-align: left;
  max-width: 600px;
  background-color: rgb(250, 246, 240);
  margin: 60px auto;
  border: 1px solid rgb(164, 178, 239);
  border-radius: 6px;
  box-shadow: 10px 5px 5px rgb(183, 182, 182);
  font-family: sans-serif;
  padding: 30px;
}

h1 {
  text-align: left;
}
.city {
  line-height: 5px;
  border-bottom: 1px solid rgb(183, 182, 182);
  padding: 30px 0;
  text-align: left;
}

.city:last-child {
  border-bottom: none;
}
footer {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 10px;
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(164, 178, 239);
}
select {
  width: 90%;
  font-size: 20px;
  display: block;
  padding: 5px;
  color: rgb(183, 182, 182);
  border-color: rgb(164, 178, 239);
}

.details {
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 35px;
  font-weight: bold;
  opacity: 0.8;
}
.date {
  opacity: 0.7;
}
